<h1>Your Song</h1>

Title: <%= @song.title %>

<br>
Artist: <%= @song.artist.name %>

<br>

Genre: <%= @song.genre_name %>

<br>

Song Notes:
  <ol>
    <% @song.notes.each do |song_note| %>
      <li><%= song_note %></li>
      <li><%= song_note %></li>
      <li><%= song_note %></li>
    <% end %>
  </ol>
